.item-detail-container {
    margin: 60px auto;
    width: 600px;
    height: 800px;
}

.finish-purchase-container {
    width: 300px;
    
    border: 2px solid black;
    display: block;
    background-color: rgba(255, 255, 255, 0.747);
    margin: 40px auto;
    padding: 20px;
    border: 3px solid rgb(0, 150, 0);
    border-radius: 20px;
}

.finish-purchase {
    background-color: rgb(157, 51, 206);
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.finish-purchase:hover, .count-controls button:hover {
    border: 2px solid rgb(0, 150, 0);
    cursor: pointer;
}