body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    
    font-size: 50px;
    color: white;
    text-align: center;
}